html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

.error {
    color: #CC0000;
}

.noflex {
    display: block!important;
}

.header__headline.notfound {
    font-weight: bold!important;
    font-size: 24px!important;
}

form.section__parameters--cols {
    height: 100%;
}

.main__content.notfound {
    padding: 30px;
}


/* ReactCSSTransitionGroup animations */

.slide-enter {
    display: block;
    transform: translate(50%);
}

.slide-enter.slide-enter-active {
    transform: translate(0%);
    transition: transform 300ms ease-in-out;
}

.slide-exit {
    display: none;
    transform: translateX(0%);
}

.slide-exit.slide-exit-active {
    transform: translateX(-300%);
    transition: transform 300ms ease-in-out;
}

* {
    box-sizing: border-box
}

::after,
::before {
    box-sizing: border-box
}

img {
    max-width: 100%
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    font-family: "SF Pro Display", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(/img/BG-MPS.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden
}

.btn--remove {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.btn,
.btn--ab {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    letter-spacing: .55px;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, .5);
    transition: background 250ms ease
}

.btn--ab:hover,
.btn:hover {
    background: #5c9193
}

.btn--remove {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, .5);
    border-radius: 30px;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, .4);
    transition: background 250ms ease
}

.btn--remove::before {
    position: absolute;
    top: 15px;
    left: 7px;
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    content: ''
}

.btn--remove:hover {
    background: #5c9193
}

.btn--ab {
    padding-bottom: 8px
}

.btn--ab img {
    width: 16px;
    height: 16px;
    margin-right: 8px
}

.btn--ab span {
    position: relative;
    top: -4px;
    line-height: 10px
}

.link--endstream {
    position: relative;
    top: 50px;
    display: inline-block;
    margin-top: 30px;
    color: #ea4335;
    text-decoration: none;
    transition: top 250ms ease
}

.link--endstream.visible {
    top: -1px
}

.link--endstream::before {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #ea4335;
    transition: 250ms ease;
    content: ''
}

.link--endstream:hover::before {
    width: 100%
}

.nav {
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .2)
}

.nav__logo {
    float: left;
}

.nav__logo img {
    max-width: 100%
}

@media only screen and (max-width:500px) {
    .nav__logo img {
        position: relative;
        top: 3px;
        width: 200px
    }
}

.nav__aside {
    padding-top: 7px;
    float: right;
    min-width: 70px
}

@media only screen and (min-width:370px) {
    .nav__aside {
        min-width: 120px
    }
}

.nav__link {
    color: #fff;
    text-decoration: none
}

.nav__link img {
    padding-right: 5px
}

@media only screen and (max-width:370px) {
    .nav__link span {
        display: none
    }
}

.nav__link:hover {
    text-decoration: underline
}

.main__flex {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    padding: 0
}

.main__header {
    width: 100%;
    max-width: 1220px;
    padding: 15px 20px;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, .45);
    box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .2);
    border-radius: 8px
}

.main__content {
    flex: 1;
    width: 100%;
    max-width: 1220px;
    height: calc(100% - 20px);
    padding: 10px 10px 10px 10px;
    margin: 0 auto 20px auto;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .45);
    box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .2);
    border-radius: 8px
}

@media only screen and (min-width:768px) {
    .main__content {
        padding-bottom: 0
    }
}

.main__content--wrapper {
    position: relative;
    flex: 1;
    min-height: 300px
}

.content__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 0
}

#sectionBrand {
    position: relative;
    top: 0;
}

#sectionPlatform {
    position: relative;
    top: 0;
    transition: transform .5s ease
}

#sectionMode {
    position: relative;
    top: 0;
    transition: transform .5s ease;
    min-height: 511px
}

#sectionEdit {
    position: relative;
    top: 0;
    transition: transform .5s ease;
    padding: 10px
}

.header {
    width: 100%;
    max-width: 1220px;
    padding: 15px 20px;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .2);
    border-radius: 4px
}

.header__headline,
.header__headline--2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.header__headline--2 {
    display: none
}

.header__steps {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding-top: 10px;
    margin: 0 auto
}

.header__steps--step {
    position: relative;
    flex: 1
}

@media only screen and (max-width:500px) {
    .header__steps--step {
        transform: scale(.8)
    }
}

.step__number {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #a1abac;
    border-radius: 40px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2)
}

.step__number svg {
    position: relative;
    z-index: 10
}

.step__number svg path {
    fill: #fff
}

.step__number svg circle {
    fill: #a1abac
}

.step__number::before {
    position: absolute;
    top: 22px;
    right: 50%;
    z-index: 0;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 2px dashed #a1abac;
    content: ''
}

.step__headline {
    margin: 10px 0 5px 0;
    color: #a1abac;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}

.step__subline {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300
}

.header__steps--step.active {
    cursor: pointer
}

.header__steps--step.active:nth-last-child(1) {
    cursor: default
}

.header__steps--step.active .step__number {
    background: #fff
}

.header__steps--step.active .step__number svg path {
    fill: #5c9193
}

.header__steps--step.active .step__number svg circle {
    fill: #fff
}

.header__steps--step.active .step__number::before {
    border-color: #fff
}

.header__steps--step.active .step__headline {
    color: #fff
}

.header__steps--step.active.edit .step__number {
    background: #5c9193
}

.header__steps--step.active.edit .step__number svg path {
    fill: #fff
}

.header__steps--step.active.edit .step__number svg circle {
    fill: #5c9193
}

.header__steps--step.active.edit .step__number::before {
    border-color: #5c9193
}

.header__steps--step.active.edit .step__headline {
    color: #5c9193
}

.header__steps--step:first-of-type .step__number::before {
    display: none
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    min-height: 150px;
    margin: 0 10px 20px 10px;
    text-decoration: none;
    background: #000;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, .3);
    transition: transform 250ms ease
}

@media only screen and (min-width:1100px) {
    .card {
        width: calc(25% - 20px)
    }
}

.card:hover {
    transform: translate(-2px, -2px)
}

.card:active {
    transform: translate(0, 0)
}

.card img {
    width: 85%;
    max-width: 125px;
    height: auto
}

.card.desktop img {
    width: auto;
    max-width: inherit
}

.card__title {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 300
}

.card.bravo {
    background: #def4ff
}

.card.cnbc {
    background: #146195
}

.card.golf {
    background: #FFF
}

.card.nbcd,
.card.nbcdigital {
    background: #f4f4f4
}

.card.nbcnews {
    background: #f4f4f4
}

.card.msnbc {
    background: #3062ff
}

.card.msnbc img {
    max-width: 200px
}

.card.today {
    background-image: linear-gradient(-90deg, #ff503c 0, #a1127e 72%, #8d048d 100%)
}

.card.telemundo {
    background: #e4e4e6
}

.card.universalkids {
    background: #fff
}

.card.usa {
    background: #ba2026
}

.card.white {
    background: #fff
}

.card.android {
    background: #a4c639
}

.card.android img {
    height: 100px;
    width: auto
}

.card.apple {
    background: #fff
}

.card.roku {
    background: #6c3c97
}

.card.samsung {
    background: #fff
}

.card.samsung img {
    max-width: 150px
}

.card.desktop {
    background: #000
}

.card.vod {
    background: #000
}

.section__headline {
    margin: 0 0 10px 0;
    color: #c3c9ca;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px
}

.section__parameters {
    display: flex;
    flex-direction: column;
    padding: 10px
}

@media only screen and (min-width:768px) {
    .section__parameters {
        height: calc(100% - 10px)
    }
}

.section__parameters--cols {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%
}

@media only screen and (min-width:768px) {
    .section__parameters--cols {
        flex-direction: row;
        max-height: calc(100% - 75px)
    }
}

.section__parameters--col1 {
    width: 100%;
    margin-bottom: 20px
}

@media only screen and (min-width:768px) {
    .section__parameters--col1 {
        width: 100%;
        max-width: 250px;
        margin-right: 20px;
        margin-bottom: 0
    }
}

.section__parameters--col2 {
    flex: 1
}

.section__parameters--content {
    padding: 15px 5px;
    background: rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: inset 0 0 7px 4px rgba(0, 0, 0, .2);
    height: calc(100% - 23px);
    overflow: scroll
}

.section__parameters--content .section__headline {
    margin-bottom: 15px
}

.section__footer {
    padding: 10px;
    margin-top: 20px;
    text-align: right;
    background: rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: inset 0 0 7px 4px rgba(0, 0, 0, .2);
    width: 100%
}

.feature {
    position: relative;
    width: 100%;
    margin: 0 auto 10px;
    text-align: center
}

.feature__switch {
    height: 0;
    width: 0;
    visibility: hidden
}

.feature__switch--wrapper {
    position: relative;
    display: inline-block;
    z-index: 10;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400
}

.feature__switch--wrapper::before {
    position: absolute;
    bottom: 0;
    left: 5px;
    display: block;
    width: calc(100% - 10px);
    height: 1px;
    background: rgba(92, 145, 147, .2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    content: ''
}

.feature__switch:checked+label:after {
    background: #5c9193;
    left: 105%;
    transform: translateX(-105%)
}

.feature__switch--label {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 11px;
    cursor: pointer;
    text-indent: -9999px;
    background: #fff;
    border: 1px solid #5d5d5d;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, .5)
}

.feature__switch--label::after {
    position: absolute;
    top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #bbc2c8;
    border-radius: 100px;
    transition: .3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    content: ''
}

.feature__switch--text {
    display: inline-block;
    padding-left: 10px;
    color: #fff;
    font-size: 16px
}

.parameters__content {
    padding: 0 5px
}

.parameters__group,
.parameters__group--base,
.parameters__group--environment {
    position: relative;
    margin-bottom: 15px
}

.parameters__group--base::after,
.parameters__group--environment::after,
.parameters__group::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(92, 145, 147, .2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    content: ''
}

.parameters__group--environment {
    display: flex;
    padding: 0 10px;
    margin-top: 15px
}

.parameters__group--base {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px
}

.parameters__group--ab {
    padding-bottom: 10px
}

.parameters__select {
    height: 0;
    width: 0;
    visibility: hidden
}

.parameters__select--wrapper {
    flex: 1;
    position: relative;
    display: inline-block;
    z-index: 10;
    min-width: 100px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400
}

.parameters__select:checked+label:after {
    opacity: 1
}

.parameters__select--label {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding-left: 20px
}

.parameters__select--label::before {
    position: absolute;
    top: 1px;
    left: -5px;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .2);
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, .5);
    content: ''
}

.parameters__select--label::after {
    position: absolute;
    top: 1px;
    left: -1px;
    width: 15px;
    height: 11px;
    background: url(/img/checkmark.svg);
    background-repeat: no-repeat;
    border-radius: 100px;
    opacity: 0;
    content: ''
}

.parameters__select--text {
    display: inline-block;
    padding-left: 10px;
    color: #fff;
    font-size: 16px
}

.parameters__input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    background: rgba(255, 255, 255, .15);
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .1), inset 0 0 7px 0 rgba(0, 0, 0, .15)
}

.parameters__input:focus {
    outline: 0
}

.parameters__input--label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700
}

.parameters__input--group {
    margin-right: 20px;
    margin-bottom: 10px;
    width: calc(50% - 20px)
}

.parameters__input--group:nth-child(2n) {
    margin-right: 0
}

@media only screen and (min-width:1100px) {
    .parameters__input--group {
        width: calc(33% - 11px)
    }
    .parameters__input--group:nth-child(2n) {
        margin-right: 20px
    }
    .parameters__input--group:nth-child(3n) {
        margin-right: 0
    }
}

.parameters__ab--group {
    position: relative;
    display: flex;
    padding: 0 10px 20px 10px;
    margin-bottom: 20px
}

.parameters__ab--group::after {
    position: absolute;
    bottom: 0;
    left: 10px;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: rgba(92, 145, 147, .2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    content: ''
}

.parameters__ab--group.hidden {
    display: none
}

.parameters__ab--left {
    display: flex;
    flex-wrap: wrap;
    flex: 1
}

.parameters__ab--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 70px
}

.ab__item {
    padding-bottom: 10px;
    margin-right: 20px;
    width: calc(50% - 10px)
}

.ab__item:nth-last-of-type(1) {
    margin-right: 0
}

.ab__item:nth-of-type(1) {
    width: 100%;
    margin-right: 0
}

.ab__item:nth-of-type(3) {
    margin-right: 0
}

@media only screen and (min-width:1100px) {
    .ab__item {
        width: calc(33% - 11px)
    }
    .ab__item:nth-of-type(3) {
        margin-right: 20px
    }
}

.hidden-group {
    display: none
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%
}

.modal.visible {
    display: block
}

.modal__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6)
}

.modal__btn,
.modal__btn--cancel,
.modal__btn--confirm {
    display: inline-block;
    width: 100%;
    max-width: 160px;
    padding: 8px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    background: #2b2e2e;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    transform: translate(0, 0);
    transition: background 250ms ease
}

.modal__btn--cancel:hover,
.modal__btn--confirm:hover,
.modal__btn:hover {
    background: #5c9193
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 460px;
    padding: 20px;
    background: #000;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, .5)
}

.modal__headline {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}

.modal__headline img {
    position: relative;
    top: 1px;
    margin-right: 8px
}

.modal__text {
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px
}

.modal__footer {
    display: flex;
    justify-content: space-between
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2001;
    display: none;
    width: 100%;
    max-width: 150px;
    padding: 20px 10px 20px 10px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    border-radius: 4px;
    box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, .3);
    transform: translate(-50%, -50%)
}

.notification.visible {
    display: block
}

.notification__text {
    display: block;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    opacity: 0;
    transition: opacity 1s ease
}

.notification__caption {
    display: block;
    height: 18px;
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0;
    transition: opacity 1s ease
}

.notification svg {
    margin: 0 auto 10px auto;
    width: 50px;
    height: 50px;
    display: block
}

.notification .circular-loader .checkmark {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 1
}

.notification .circular-loader .loader-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    transform-origin: center center;
    animation: outlinePending 1.5s ease-in-out infinite, rotateCircle 1.5s ease-in-out infinite
}

.notification.success .notification__text {
    animation: revealText .5s ease-in-out 1 .7s;
    animation-fill-mode: forwards;
    color: #5ea270
}

.notification.success .circular-loader .errormark {
    display: none
}

.notification.success .circular-loader .loader-path {
    stroke-dasharray: 150, 200;
    animation: outlineSuccess 1.5s ease-in-out 1, fillCircleSuccess 1s ease-in-out 1 .5s;
    animation-fill-mode: forwards
}

.notification.success .circular-loader .checkmark {
    animation: checkmarkDraw 1s ease-in-out 1;
    animation-fill-mode: forwards;
    animation-delay: .5s
}

.notification.error .notification__text {
    animation: revealText .5s ease-in-out 1 .25s;
    animation-fill-mode: forwards;
    color: #b33636
}

.notification.error .notification__caption {
    animation: revealText .5s ease-in-out 1 .45s;
    animation-fill-mode: forwards
}

.notification.error .circular-loader .loader-path {
    stroke-dasharray: 150, 200;
    animation: outlineError .5s ease-in-out 1, fillCircleError .5s ease-in-out 1 .25s;
    animation-fill-mode: forwards
}

.notification.error .circular-loader .errormark {
    animation: errormarkDraw .5s ease-in-out 1;
    animation-fill-mode: forwards;
    animation-delay: .25s
}

.controller {
    position: fixed;
    top: 20px;
    left: 120px;
    padding: 20px;
    z-index: 2000;
    background: #fff
}

@keyframes outlinePending {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124
    }
}

@keyframes outlineSuccess {
    from {
        stroke-dasharray: 1, 200;
        stroke: #fff
    }
    to {
        stroke-dasharray: 200;
        stroke: #5ea270
    }
}

@keyframes outlineError {
    from {
        stroke-dasharray: 1, 200;
        stroke: #fff
    }
    to {
        stroke-dasharray: 200;
        stroke: #b33636
    }
}

@keyframes rotateCircle {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes checkmarkDraw {
    from {
        stroke-dasharray: 0, 200
    }
    to {
        stroke-dasharray: 100, 200
    }
}

@keyframes errormarkDraw {
    from {
        fill: #000
    }
    to {
        fill: #fff
    }
}

@keyframes fillCircleSuccess {
    to {
        fill: #5ea270
    }
}

@keyframes fillCircleError {
    to {
        fill: #b33636
    }
}

@keyframes revealText {
    to {
        opacity: 1
    }
}

.selectric-wrapper {
    position: relative;
    cursor: pointer
}

.selectric-responsive {
    width: 100%
}

.selectric {
    border: 0 solid transparent;
    border-radius: 2px;
    background: rgba(255, 255, 255, .15);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .1), inset 0 0 7px 0 rgba(0, 0, 0, .15)
}

.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 28px 0 5px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    height: 28px;
    user-select: none
}

.selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font: 0/0 a;
    *font: 20px/28px Lucida Sans Unicode, Arial Unicode MS, Arial
}

.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-bottom: none
}

.selectric-focus .selectric {
    border-color: rgba(0, 0, 0, 0)
}

.selectric-hover .selectric {
    border-color: rgba(0, 0, 0, 0)
}

.selectric-hover .selectric .button {
    color: #e6e5e5
}

.selectric-hover .selectric .button:after {
    border-top-color: #e6e5e5
}

.selectric-open {
    z-index: 9999
}

.selectric-open .selectric {
    border-color: rgba(0, 0, 0, 0)
}

.selectric-open .selectric-items {
    display: block
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default;
    user-select: none
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0
}

.selectric-hide-select select {
    position: absolute;
    left: -100%
}

.selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10
}

.selectric-hide-select.selectric-is-native select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0
}

.selectric-input {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    overflow: hidden!important;
    clip: rect(0, 0, 0, 0)!important;
    margin: 0!important;
    padding: 0!important;
    width: 1px!important;
    height: 1px!important;
    outline: 0!important;
    border: none!important;
    *font: 0/0 a!important;
    background: 0 0!important
}

.selectric-temp-show {
    position: absolute!important;
    visibility: hidden!important;
    display: block!important
}

.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    background: #23343a;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, .2);
    border-radius: 4px
}

.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto
}

.selectric-above .selectric-items {
    top: auto;
    bottom: 100%
}

.selectric-items li,
.selectric-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    min-height: 20px
}

.selectric-items li {
    display: block;
    padding: 7px 5px;
    color: #fff;
    cursor: pointer
}

.selectric-items li.selected {
    background: #19262a;
    color: #fff;
    border-right: 0 2px 0 0
}

.selectric-items li.highlighted {
    background: #19262a;
    color: #fff
}

.selectric-items li:hover {
    background: #19262a;
    color: #fff
}

.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    cursor: default!important;
    background: 0 0!important;
    color: #666!important;
    user-select: none
}

.selectric-items .selectric-group .selectric-group-label {
    font-weight: 700;
    padding-left: 10px;
    cursor: default;
    user-select: none;
    background: 0 0;
    color: #444
}

.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1
}

.selectric-items .selectric-group li {
    padding-left: 25px
}